[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "==3.14.0"
decouple = "==0.0.7"
python-decouple = "==3.8"
pillow = "==9.5.0"
fontawesomefree = "==6.4.0"
fontawesome = "==5.10.1.post1"
django-taggit = "==4.0.0"
#psycopg2 = "==2.9.6"
psycopg2-binary = "*"
asgiref = "==3.7.2"
pytz = "==2023.3"
sqlparse = "==0.4.4"
typing-extensions = "==4.6.3"
tzdata = "==2023.3"
python-dotenv = "*"
cloudinary = "*"
django-cloudinary-storage = "*"

[dev-packages]

[requires]
python_version = "3.9"
